@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

.text{
    display: flex;
    justify-content: center; 
    align-items: center;
    /* font-family: 'Pacifico', cursive;; */
}
.name{
    display: flex;
    justify-content: end;
    font-family: 'Rubik', sans-serif;
}
.text-center{
    text-align: center;
}
.my-2{
    margin: 20px 0px;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Pacifico', cursive;  */
    /* font-family: 'Playfair Display', serif; */
}